{% extends "base.html" %}

{% block content %}
    <h1>Admin Menu Management</h1>
    <a href="{{ url_for('add_menu_item') }}">Add New Item</a>
    <div class="menu">
        {% for item in menu_items %}
        <div class="menu-item">
            <h3>{{ item['name'] }}</h3>
            <p>{{ item['description'] }}</p>
            <p>{{ item['price'] }} VND</p>
            <a href="{{ url_for('edit_menu_item', item_id=item['id']) }}">Edit</a>
            <a href="{{ url_for('delete_menu_item', item_id=item['id']) }}">Delete</a>
        </div>
        {% endfor %}
    </div>
{% endblock %}
