<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laika Coffee</title>
    <!-- Liên kết tới file CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="navbar">
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('menu') }}">Menu</a>
        <a href="{{ url_for('view_cart') }}">Cart</a>
        <a href="{{ url_for('manage_menu') }}">Admin Menu</a>
        <a href="{{ url_for('manage_orders') }}">Admin Orders</a>
    </div>
    <!-- Khối nội dung chính -->
    {% block content %}
    {% endblock %}
</body>
</html>
